<Files ".htpasswd">
    Require all denied
</Files>

AuthType Basic
AuthName "Restricted Access"
AuthUserFile /path/to/.htpasswd
<If "%{HTTP_HOST} =~ /localhost/">
    Require all granted
</If>
Require valid-user