/* --- General --- */

body {
	margin: 0;
	font-family: sans-serif;
}
main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/* --- Departure --- */

.departure {
	height: 100vh;
	overflow-y: hidden;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table th,
table td {
	padding: 0.5rem;
	height: 3rem;
	font-size: 1.3rem;
}
table td:first-child,
table th:first-child {
	padding-left: 1rem;
}
table td:last-child,
table th:last-child {
	padding-right: 1rem;
}
table th {
	background-color: hsl(306, 57%, 30%);
	color: white;
	font-weight: 800;
	text-transform: uppercase;
	text-align: left;
}
table tr:nth-child(even) {
	background-color: hsl(0, 0%, 90%);
}
table tr:nth-child(odd) {
	background-color: hsl(0, 0%, 80%);
}

/* Departure entries */
.line {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;
}
.type {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.UBAHN {
	background-image: url(https://www.mvg.de/.resources/mvgde-icons/color/transport-ubahn.svg);
}
.SBAHN {
	background-image: url(https://www.mvg.de/.resources/mvgde-icons/color/transport-sbahn.svg);
}
.BUS {
	background-image: url(https://www.mvg.de/.resources/mvgde-icons/color/transport-bus.svg);
}
.TRAM {
	background-image: url(https://www.mvg.de/.resources/mvgde-icons/color/transport-tram.svg);
}
.intime {
	color: green;
}
.delayed {
	color: red;
}

/* --- News --- */

.news {
	display: flex;
	align-items: center;
	justify-content: center;
}
.news img {
	height: 100%;
	width: auto;
	max-height: 100vh;
	max-width: 100%;
	object-fit: contain;
}
.news img[src=""] {
	content: url(https://cdn.prod.website-files.com/64d11728a06601a00aeea217/64d11cdeec6fe190c94e7650_lgo%20azubiwerk%20header.svg);
	filter: brightness(0);
	scale: 0.75;
}
