<Files ".htpasswd">
    Require all denied
</Files>

AuthType Basic
AuthName "Bitte anmelden"
AuthUserFile /usr/www/users/httpvy/infoscreen/.htpasswd
<If "%{HTTP_HOST} =~ /localhost/">
    Require all granted
</If>
Require valid-user