name: Build and deploy

on:
    push:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Get files
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: 24.13.0
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build

            - name: Output commit hash
              run: |
                  SHORT_HASH=$(echo "${GITHUB_SHA::7}")
                  sed -i "s/{$COMMIT_HASH$}/$SHORT_HASH/g" dist/index.html dist/admin/index.html

            - name: Upload build artifacts
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: build-dist
                  path: ./dist/

    deploy:
        name: Deploy
        needs: build
        if: github.ref == github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest

        steps:
            - name: Download build artifacts
              uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
              with:
                  name: build-dist
                  path: ./

            - name: Web deploy
              uses: SamKirkland/web-deploy@8a74c6948a31575b5776ff1e8304d5c2aef5bdbd # v1
              with:
                  target-server: ${{ secrets.TARGET_SERVER }}
                  remote-user: ${{ secrets.REMOTE_USER }}
                  private-ssh-key: ${{ secrets.SSH_KEY }}
                  source-path: ./
                  destination-path: ${{ secrets.DESTINATION_PATH }}
                  rsync-options:
                      --archive --verbose --compress --human-readable --progress --delete-after
                      --exclude=.git/ --exclude=.htaccess --exclude=.htpasswd
                      --exclude=config.json --exclude=news/
